[Unit]
Description=moodlight control server (Port 1167)
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/pi/source/usb_master_host_tools/luajit
User=root
Group=root
ExecStart=/usr/bin/luajit srv.lua initdir /home/pi/effects.d
RestartSec=2
#WatchdogSec=5
Restart=always

[Install]
WantedBy=multi-user.target
