[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "moodlight/setmoodled/luajit/LuaSerialPort"]
	path = moodlight/setmoodled/luajit/LuaSerialPort
	url = https://github.com/cbrake/LuaSerialPort.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
	branch = stable_16.1.x
[submodule "chibi-mpu6050/MPU6050-ChibiOS"]
	path = chibi-mpu6050/MPU6050-ChibiOS
	url = https://github.com/jevermeister/MPU6050-ChibiOS.git
[submodule "chibi-ws2812-denoise/host"]
	path = chibi-ws2812-denoise/host
	url = git@github.com:hwhw/usbbb-host.git
