[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "moodlight/setmoodled/luajit/LuaSerialPort"]
	path = moodlight/setmoodled/luajit/LuaSerialPort
	url = https://github.com/cbrake/LuaSerialPort.git
