[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "moodlight/setmoodled/luajit/LuaSerialPort"]
	path = moodlight/setmoodled/luajit/LuaSerialPort
	url = https://github.com/cbrake/LuaSerialPort.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
	branch = stable_16.1.x
